#atlasdb

#user estetica
#senha 123
#cluster estetica

#PORT=3000
#SESSION_SECRET="troque-por-um-segredo-forte"
#ADMIN_USERNAME="Coloque-o-admin-username-aqui"
#ADMIN_PASSWORD_HASH="Coloque-o-hash-da-senha-aqui" # Use bcrypt para gerar o hash da senha
#ADMIN_EMAIL="admin@example.com"


#Production
#DATABASE_URL="mongodb+srv://user:password@cluster.mwvsf0q.mongodb.net/database"

#Development
